body, html{
	margin: 0;
	padding: 0;
}

body{
	/*font: 400 14px "Open Sans";*/
	/*font: 400 14px "Noto Sans";*/
  /*	font: 400 16px "Inconsolata";*/
 /* font: 400 16px "Baskervville";*/
  font: 400 14px "Source Sans Pro";
	color: #333;
}

ul{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}
a,
a:hover,
a:focus,
a:visited{
    outline: 0;
    text-decoration: none;
}

h1{
   margin: 0;
   padding: 0;
   	font-weight: 500;
   font-family: 'Source Sans Pro', sans-serif;
  /*font-family: "Noto Sans", sans-serif;*/
  /*font-family: 'Inconsolata', monospace;*/
 /* font-family: "Amaranth",sans-serif;*/
 /*font-family: Baskervville;*/
} 

h2, h3, h4, h5, h6{
 /* font-family: 'Baskervville', sans-serif;*/
   font-family: 'Source Sans Pro', sans-serif;
}

ul li:last-child{
	margin-right: 0;
}

h1{
	font-size: 40px;
}
h2{
	font-size: 26px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 25px;
	font-weight: 400;
}
h5{
	font-size: 18px;
}
p{
	margin-bottom: 0;
  letter-spacing: 1px;
}
a, a:hover{
  color: #333;
}
.section{
	padding: 100px 0;
}
ul li a{
	color: #333;
}

figure{
	margin: 0;
	padding: 0;
	position: relative;
  overflow: hidden;
}

img{
	width: 100%;
}

.section-title{
	text-align: center;
	margin-bottom: 40px;
}
/*.section-title h2{
	padding: 10px 0;
}*/
.title-line{
	width: 100px;
    height: 1px;
    background: #aaa;
    display: inline-block;
}
/*.description p{
	font-size: 14px;
	line-height: 24px;
}*/

/*---------button--------*/
.btn-wrap{
	padding: 10px 0;
}
.rm-button{
	padding: 10px 20px;
	border: 1px solid rgba(0, 199, 254, 0.7);
	display: inline-block;
	margin-top: 10px;
	transition: all 0.3s;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 12px;
	color: #00c7fe;
	background-color: transparent;
}
.rm-button:hover{
	background-color: rgba(0, 199, 254, 0.7);
	color: #fff;
}

/*----------mean-menu-----------*/
header nav {
/*	text-align: center;*/
	/*background: #efefef;*/
}
header nav ul {
	margin: 0;
/*	padding: 1em;*/
	list-style-type: none;
}
header nav ul li {
	display: inline;
	/*margin-left: 1em;*/
}
header nav ul li:first-child {
	margin-left: 0;
}
header nav ul li ul {
	display: none;
}

.wrap-social-media ul li:last-child{
  	margin-right: 0;
  }


/*------added-css-for-menu-desktop------*/
.header nav{
	/*background-color: rgba(255, 255, 255, 0.7);*/
 /*   box-shadow: 1px -15px 39px -9px rgba(0,0,0,0.5);*/
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    transition: all 0.3s ease-in-out;
}
.header.fixed nav{
	background-color: rgba(255, 255, 255, 1);
}

.logo-wrap a{
	display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 9;
    text-align: left;
    left: 3%;
}
.header nav ul li a{
	position: relative;
}

.header nav ul li a:after{
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	bottom: 30px;
	background-color: #ff0000;
	/*transform: scale(0);*/
	transition: all 0.4s ease-in-out;
}

 .header nav ul li a:hover:after{
   /*	color: rgba(0, 199, 254, 0.7);*/
/*  transform: scale(1);*/
   width: 50%;
   left: 10px;
  }




/*------Top-header-----------*/
.top-header{
	/*background: linear-gradient(270deg,#00558c,#008ec0);*/
	/*background: linear-gradient(270deg,#00c7fe,#2f90ee);*/
	background: linear-gradient(270deg,#2f90ee,#00c7fe);
	
	padding: 10px 0;
}
.wrap-social-media ul li{
	display: inline-block;
	margin-right: 10px;
}

.th-left{
	min-width: 70%;
}
.th-left ul li a{
	color: #ffffff;
	font-weight: bold;
	padding: 10px;
	display: inline-block;
}

span.title-th-left{
  float: left;
  margin-right: 20px;
  color: #ff0000;
  margin-top: 10px;
 /* font-style: italic;*/
  font-size: 15px;
  font-weight: bold;
}
.wrap-th{
	display: flex;
	justify-content: space-between;
}
.wrap-social-media{
    line-height: 40px;
	padding-right: 0;
}
.wrap-social-media ul li a{
	width: 30px;
    height: 30px;
  /*  background: rgba(0, 199, 254, 0.7);*/
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    position: relative;
    color: #fff;

}
.section.odd{
	background-color: #f9f9f9;
}

/*-------------header------------*/
span.logo-wrap{
	float: left;
    line-height: 70px;
    width: 100%;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
}

.header nav.mean-nav>.container{
	width: auto;
}

 .mean-container .mean-nav ul li a.mean-expand{
	width: 18px;
    height: 18px;
}

.header nav ul li a{
	color: #00c7fe;
}



/*---------banner---------*/
.banner-with-back{
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: center;
}

.banner-with-back{
	color: #fff;
}
.banner-with-back:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.banner-caption{
	position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    padding: 20px;
    z-index: 1;
    text-align: center;
    left: 0;

}
.banner-caption h1{
	/*font-style: italic;*/
	margin-bottom: 10px;
	color: #fff;
}
a.btn-banner{
	display: inline-block;
    background-color: #fff;
    color: #777;
    font-weight: 600;
    padding: 30px 20px;
  /*  text-transform: uppercase;*/
    font-size: 16px;
    border-radius: 0;
    letter-spacing: 1px;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 6px 8px -1px rgba(0,0,0,0.1);
    min-width: 200px;
    border-left: 1px solid #ff0000;
    min-height: 200px;
}

a.btn-banner:hover{
 box-shadow: 2px 11px 11px -3px rgba(0,0,0,0.2);
 color: #333;
}
a.btn-banner svg{
  transition: all 0.3s ease-in-out;
}
a.btn-banner:hover svg{
  color: #ff0000;
}

span.wrap-banner-btn{
	display: block;
	margin-top: 50px;
}
span.hero-sub-title{
	margin: 10px 0;
    display: inline-block;
    font-size: 20px;
    color: #333;
    line-height: 35px;
}
.hero-slider .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.owl-theme .owl-dots .owl-dot:focus{
	outline: 0;
}
.owl-theme .owl-dots .owl-dot:hover span{
	background-color: #00c7fe;
}
.owl-theme .owl-dots .owl-dot.active span{
	background-color: #00c7fe;
}

.wrap-bc{
	max-width: 1000px;
    margin: auto;
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-left: 4px solid #00c7fe;
}
span.bicon{
  display: block;
  text-align: center;
  font-size: 32px;
  color: #00c7fe;
  margin-top: 15%;
}

.hero-slider h1 strong{
  color: #ff0000;
  font-family: "Open Sans", sans-serif;
}

.wrap-banner-form form{
  max-width: 70%;
  margin: auto;
}

.wrap-banner-form form input[type=text]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
}
.wrap-banner-form form .form-group{
  position: relative;
}

.wrap-banner-form form input[type=submit]{
  border-radius: 0 30px 30px 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    min-width: 100px;
    border: none;
    background: #00c7fe;
    color: #fff;
    font-size: 24px;

}
.wrap-banner-form form input:focus{
  outline: 0;
}
.wrap-banner-form{
  margin-top: 30px;
}







/*---------about-section-------*/
.sec-about ul li{
	padding: 20px;
	 box-shadow: 0 5px 6px rgba(0, 0, 0, 0.07);
	margin-bottom: 10px;
	border-left: 4px solid #00c7fe;
	transition: all 0.3s ease-in-out;
}
.sec-about ul li:hover{
	box-shadow: 0 11px 6px rgba(0, 0, 0, 0.07);

}
.img-about img{
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.icon{
	float: left;
	margin-right: 15px;
}
span.bicon svg{
  color: #aaa;
}

span.bicon svg {
    color: #aaa;
    height: 40px;
    width: 40px;
    width: 40px !important;
    line-height: 40px;
    border: 1px solid #333;
    padding: 8px;
    border-radius: 40px;
}

.sec-about .icon{
	width: 150px;
	height: 80px;
	line-height:100px;
	text-align: center;
	/*border: 1px solid #ccc;*/
}
.sec-about .icon svg{
	font-size: 60px;
	color: #777;
}

.text{
	overflow: hidden;
}
.text h3{
	margin-bottom: 10px;
}


/*----------news-section------*/

.image-col{
	width: 270px;
  height: 170px;
  float: left;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

.image-col img{
	width: 100%;
	height: 100%;
	object-fit: cover;
  transition: all 01s ease-in-out;
}
.update-list:hover .image-col img{
  transform: scale(1.1);
}
.text-col{
	overflow: hidden;
}
.update-list{
	padding-bottom: 10px;
	/* box-shadow: 0 5px 6px rgba(0, 0, 0, 0.07);*/
	 margin-bottom: 40px;
	 border-bottom: 1px solid #eee;
	 transition: all 0.3s ease-in-out;
}
/*.update-list:hover{
	 border-bottom-color: #ff0000;
}*/
.update-list h4{
  color: #aaa;
}
.update-list:hover h4{
  color: #00c7fe;
}

figure.news-updates figcaption{
	position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    font-size: 20px;
}

figure.news-updates img{
	max-height: 350px;
	object-fit: cover;
}

.text-col h3{
  color: #777;
  font-weight: bold;
  transition: all 0.3s;
  margin-bottom: 15px;
}

/*.update-list:hover .text-col h3{
 color: #00c7fe;
}*/
ul.about-list li{
   margin-bottom: 15px;
    font-size: 16px;
    color: #000;
    list-style: disc;
    margin-left: 20px;
}

.news-list figure img{
  min-height: 230px;
  min-width: 230px;
  width: 100%;
  object-fit: cover;
}


/*-------gallery----------*/
.gallery .grid-sub-section{
	margin-bottom: 15px;
}

/*-----app-blcok-------*/
.app-block{
  padding: 40px;
  min-height: 200px;
  text-align: center;
  background-color: rgba(0, 199, 254, 0.8);
  margin-bottom: 50px;
  background-image: linear-gradient(to right, rgba(215,31,40,0.8), rgba(0,199, 254, 0.7));
}
.app-block a{
    display: inline-block;
    max-width: 150px;
    margin-right: 20px;
    margin-top: 35px;

}
.app-block a:last-child{
  margin-right: 0;
}
.app-text h2, .app-text span{
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}







/*-------footer---------*/
footer{
	/*background: linear-gradient(#777, #333);*/
	background-color: #242323;
}
.title-grid{
  padding: 10px 0;
  margin-bottom: 10px;
}

.grid-content ul li{
   margin-bottom: 15px;
}
.grid-content ul li:last-child{
   margin-bottom: 0;
}
.grid-footer h4{
	color: #eeeeee;
	font-weight: 300;
	letter-spacing: 1px;
	padding-bottom: 15px;
	position: relative;
}
.grid-footer h4:after{
	content: '';
    width: 50px;
    height: 1px;
    background-color: #555;
    position: absolute;
    left: 0;
    bottom: 0;
}
.grid-footer ul li a{
	color: #ccc;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}
.grid-footer a:hover{
	color: #fff !important;
	/*text-decoration: underline;*/
}
.footer .grid-content p {
    color: #ccc;
    /*font-size: 16px;*/
    letter-spacing: 1px;
}

.contact-wrap{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	color: #ccc;
}
.contact-wrap .icon svg{
	border: none;
    color: #ccc;
    border: none;
    font-size: 20px;
    padding: 0;
}
/*.contact-wrap .icon.small svg{
	font-size: 32px;
}*/
.contact-wrap .text a{
	color: #ccc;
	text-decoration: underline;
}

/*--------footer-rp----*/
.grid-footer .image-col{
	width: 50px;
	height: 50px;
	border: 2px solid #00c7fe;
}
.rp-wrap{
	margin-bottom: 15px;
}
.grid-footer .text-col h5{
  color: #fafafa;
}


/*---------copright-area----------*/
.wrap-cr-text{
	display: flex;
	justify-content: space-between;
}

.bottom-footer{
	background-color: #1A191A;
}
.copyright-text{
	color: #ccc;
	line-height: 40px;
}


/*-----------list-page--------*/
h3.title-content{
  margin: 14px 0 10px 0;
}
article{
  margin-bottom: 40px;
  /*text-align: center;*/
}

.post-meta{
  padding-top: 10px;
}
.list-block .post-meta svg{
  font-size: 14px;
}
.list-block .post-meta .author-name{
  margin-right: 20px;
}
.list-block figure{
  padding: 5px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}
.list-block figure:hover{
 /* background: #00c7fe;*/
/* border-color: #00c7fe;*/
border-color: #ff0000;
}

.list-block a:hover{
  color: #00c7fe;
}

/*----------article-page-----------*/
.list-wrapper{
  max-width: 80%;
  margin: auto;
}
.list-view .widget-sn-half figure {
    width: 50%;
    float: left;
}
.list-view .content-sn-half{
  overflow: hidden;
  padding: 20px;
  padding-top: 0;
}
.post-meta span.date, span.cat-links{
  margin-right: 10px;
}
article .content-sn-half{
  padding: 15px;
  padding-top: 0;
}
article .content-sn-half .post-meta{
  margin-bottom: 20px;
}

.social-media-wrap ul.social-media{
  float: none;
}

.list-blog figure{
  position: relative;
  overflow: hidden;
}

.list-blog figure .overlay{
   background-color: rgba(255, 0, 0, 0.5);
   left: -100%;
   transition: all 0s ease-in-out;
}

.list-blog figure:hover .overlay{
 left: 0;
 transition: all 0.3s ease-in-out;
}
a.btn-blog{
   border: none;
    display: inline-block;
    background: #ff0000;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    width: 80%;
    min-width: 200px;
}
.blog-text-wrap{
  padding: 15px 0;
}
.post-meta svg{
  color: #00c7fe;
  margin-right: 2px;
}

.post-meta span a:hover{
  color: #ff0000;
}
article ul.social-media{
  margin-top: 15px;
}
article ul.social-media li a svg{
  font-size: 25px;
}
article.list-articles{
  max-width: 88%;
  margin: auto;
  margin-bottom: 80px;
}
article.list-articles figure img{
  transition: all 0.3s ease-in-out;
}
article.list-articles:hover figure img{
  transform: scale(1.02);
}
article.list-articles a:hover{
  color: #ff0000;
}

/*-----------social-media------------*/
 ul.social-media{
  display: inline-block;
  /*float: right;*/
}
 ul.social-media li{
  float: left;
  margin-right: 15px;
}
 ul.social-media li a{
  color: #333;
}
ul.social-media li a:hover{
  color: #ff0000;
}
p.designation{
  color: #ff0000;
  font-weight: bold;
}




/*----------------------sidenav-bar-----------*/
      #side-nav-panel {
        /*  background-color: #1d2127;*/
        background-color: #fff;
          color: #fff;
      }
        .panel-overlay{
          opacity: 0;
        }
        .panel-overlay.active {
          background: #fff;
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 8999;
          min-height: 100vh;
          opacity: .35;
          -webkit-transition: opacity 0.2s ease-in-out 0s;
          -moz-transition: opacity 0.2s ease-in-out 0s;
          transition: opacity 0.2s ease-in-out 0s;
      }

      #side-nav-panel {
          position: fixed;
          height: 100%;
          width: 50%;
         /* padding-top: 10%;*/
          top: 0;
          bottom: 0;
          font-size: .9em;
          right: 0;
          overflow-x: hidden;
        /*  overflow-y: scroll;*/
          z-index: 9001;
          -webkit-transform: translate(100%);
          -moz-transform: translate(100%);
          -ms-transform: translate(100%);
          -o-transform: translate(100%);
          transform: translate(100%);
          -webkit-transition: transform 0.2s ease-in-out 0s;
          -moz-transition: transform 0.2s ease-in-out 0s;
          transition: transform 0.2s ease-in-out 0s;
          display: flex;
          text-align: center;
          flex-direction: column;
          justify-content: center;

      }
       #side-nav-panel.opened{
          -webkit-transition: transform 0.3s ease-in-out 0s;
          -moz-transition: transform 0.3s ease-in-out 0s;
          transition: transform 0.3s ease-in-out 0s;
          z-index: 9001;
          -webkit-transform: translate(0);
          -moz-transform: translate(0);
          -ms-transform: translate(0);
          -o-transform: translate(0);
           transform: translate(0); 
      }

      /*.list-group-item{
        background-color: transparent;
        color: #ffffff;
        text-transform: uppercase;
        border: none;
        font-size: 30px;
      }
      .list-group-item:hover{
        color: inherit;
        text-decoration: underline !important;
      }
      .list-group-submenu a.list-group-item{
        background-color: #777;
        border-radius: 0;
      }
      div.ft-submenu {
          background: #333;
      }
      .list-group-item .fas{
        float: right;
        margin-top: 4px;
      }*/
      a.close-btn{
        position: absolute;
        top: 20px;
        right: 10%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: #ff0000;
        text-align: center;
        font-size: 20px;
      }

      .list-group-item.up i{
        transform: rotate(45deg);
        transition: all 0.4s ease-in-out;
      }
      .list-group-item i{
        transition: all 0.4s ease-in-out;
      }
      .wrap-login-form{
        padding: 35px;
        text-align: left;
      }
      .wrap-login-form form input{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
      }
      .wrap-login-form form input[type=submit]{
        width: auto;
        display: inline-block;
        min-width: 10 0px;
        border: none;
        background-color: #00c7fe !important;
      }
      .wrap-login-form form input[type=submit]:focus{
        box-shadow: none !important;
      }
      .wrap-login-form form label{
        display: block;
        color: #333;
      }



      /*-----------end-of side-login-------------*/





/*-----------section-deatil-page--*/
.detail-page{
  max-width: 70%;
  margin: auto;
}
.entry-header-main{
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  position: relative;
}
.entry-header-main .post-cat-wrap{
  position: relative;
  left: 0;
  top: 0;
  width: auto;
}
.entry-header .post-meta{
  margin: 15px 0;
}
.share-links{
  padding: 10px 0;
  margin-bottom: 20px;
}
.share-links a{
  padding: 10px;
  display: inline-block;
  border-radius: 2px;
}
.share-links a span{
  color: #ffffff;
  font-family: "Oxygen Mono";
  font-size: 12px;
}
.share-links a span.social-icon{
  padding: 15px;
}
.share-links a span.social-text{
  padding-left: 20px;
  border-left: 1px solid #ffffff;
}
a.fb{
  background-color: #5d82d1;
}
a.twitter{
  background-color: #40bff5;
}
a.google{
  background-color: #eb5e4c;
}
a.likdn{
  background-color: #238cc8;
}
a.stub{
  background-color: #eb4924;
}
a.tumblr{
  background-color: #35465c;
}
a.pinterset{
  background-color: #e13138;
}
h1.post-title{
  margin: 10px 0;
}

h2.title-dp{
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 15px;
}
.entry-content p{
  margin-bottom: 25px;
  line-height: 27px;
  letter-spacing: 1px;
}

.detail-page .entry-content strong{
  font-size: 30px;
  padding: 10px 25px;
  display: inline-block;
  font-style: italic;
}
span.tie-dropcap{
  float: left;
    font-size: 600%;
    line-height: 85%;
    margin: 4px 10px 0 0;
}
blockquote.quote-simple p{
  font-size: 28px;
  line-height: 38px;
}
blockquote.alignleft{
  float: left;
}
.quote-simple{
  width: 50%;
}
blockquote cite {
    font-size: 16px;
    display: block;
    text-align: right;
    color: #08f;
    margin-top: 10px;
    font-style: italic;
}
.detail-page .entry-content blockquote{
  margin: 40px;
  margin-left: 0;
}
.wp-caption{
  margin-bottom: 25px;
  overflow: initial;
}
.wp-caption figcaption{
  font-family: "Oxygen Mono";
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}
.entry-content ul{
  padding-left: 40px;
}
.entry-content ul li{
  line-height: 35px;
  list-style: disc;
  letter-spacing: 1px;
  font-weight: bold;
}
.related-posts-wrapper{
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
.rel-sub-post figure img{
    transition: all 0.3s ease-in-out;
    max-height: 145px;
    width: 100%;
    object-fit: cover;
}
.rel-sub-post figure:hover img{
  transform: scale(1.1);
}

.respond-form{
  padding-top: 40px;
}

.respond-form .form-group input{
  width: 100%;
  padding: 7px 10px;
}
.respond-form .form-group textarea{
  max-height: 200px;
  height: 200px;
  width: 100%;
  text-align: left;
  padding: 10px;
}
.wrap-fg-half .form-group{
  width: 48%;
  float: left;
  margin-right: 4%;

}
.wrap-fg-half .form-group:nth-child(2n){
  margin-right: 0;
}

.respond-form .form-submit{
  display: block;
  width: 100%;
}
.respond-form .form-submit input[type="submit"]{
  padding:  10px 18px;
  color: #ffffff;
  font-size: 14px;
  background-color: #333;
  border: none;
  cursor: pointer;
}
.respond-form .form-submit input[type="submit"]:hover{
  background-color: rgba(51,51,51,0.8);
}



h5.cat-post{
  padding: 5px 10px;
  /*background-color: #800080;*/
  background-color: #ff0000;
  font: 400 10px "Poppins";
  color: #fff;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  z-index: 99;
  border-radius: 4px;
}
h5.cat-post:hover{
  background-color: rgba(255,0,0,0.7);
}
.list-sub-post a.title-link{
  margin-top: 10px;
  display: inline-block;
}

.related-posts-wrapper .widget-title h2{
  margin-bottom: 40px;
  font-size: 22px;
}



/*--------------bread-crumb------*/
.breadcurmb{
}
.breadcrumb ul li{
  display: inline-block;
  margin-right: 10px;
}
.breadcrumb ul li a{
    color: #ffffff;
    display: inline-block;
    margin-right: 12px;
    color: #999;
}
.breadcrumb ul li i{
  color: #999;
}


/*----------Contact-section------*/
.main-wrapper.contact{
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  padding-bottom: 0;
}
.list-contact h2{
  margin-bottom: 25px;
}
.sec-lc .icon{
  float: left;
  margin-right: 10px;
  color: #41c8b5;
}
.sec-lc .text{
  overflow: hidden;
}
/*.text span{
  font-family: FuturaPTMedium;
}*/
.sec-lc{
  margin-bottom: 15px;
}
.sec-lc a{
  color: #333;
  text-decoration: underline;
}
.sec-lc a:hover{
  text-decoration: none;
}
.wrap-cf form label{
  display: block;
 /* font-family: Merriweather;*/
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}
.wrap-cf form input{
  width: 100%;
  padding: 7px 10px;
 /* font-family: Merriweather;
  font-size: 16px;*/
}
.wrap-cf form textarea{
  width: 100%;
  min-height: 150px;
  padding: 10px;
 /* font-family: Merriweather;*/
  font-size: 16px;
}
.wrap-cf form input[type=submit]{
  width: auto;
  border: 1px solid #41c8b5;
  background-color: #41c8b5;
  color: #ffffff;
  text-transform: uppercase;
 /* font-family: FuturaPTMedium;*/
  min-width: 120px;
}
.wrap-cf form .input-group{
  margin-bottom: 20px;
}
.wrap-cf, .wrap-lc{
  padding: 40px;
  padding-top: 0;
  padding-bottom: 0;
}
.contact-sm{
  margin-top: 40px;
}
.short-desc{
  margin-top: 40px;
}
.location-map iframe{
  width: 100%;
  z-index: 2;
  position: relative;
}
.location-map .overlay{
  z-index: 1;
}

/*------------about-page-----------*/

.about-page{
  max-width: 70%;
  margin: auto;
}
.sec-about{
  margin-bottom: 30px;
}
.sec-about figure{
  margin-bottom: 20px;
}



/*----Appointment--------*/
h2.title-form{
  font-size: 26px;
  margin-bottom: 18px;
  font-weight: 600;
}
.wrap-fg{
 display: flex;
 width: 100%;
 margin-bottom: 18px;
}
.wrap-fg .form-group{
  width: 32.33%;
  margin-right: 2%;
}
.wrap-fg .form-group:last-child{
  margin-right: 0;
}
.wrap-fg select{
  width: 100%;
  padding: 4px;
}
.fi-wrap{
  display: flex;
}
.fi-wrap .form-inline{
  width: 100%;
}
.wrap-cf form input[type=radio]{
  width: auto;
}
label.radio-inline{
  display: inline-block !important;
}


/*-----------doctors-list----------*/
a:focus{
  box-shadow: none !important;
}
a.read-more.app-doc{
  background-color: #ff0000;
}
a.read-more{
    padding: 7px;
    min-width: 100px;
    border: none;
    background-color: #00c7fe;
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    margin-right: 7px;
    text-align: center;
    min-height: 30px;
    line-height: 30px;
}

a.read-more:hover{
  color: #fff;
  background-color: rgba(0, 199, 254, 0.7);
  outline: 0;
}
a:focus{
  box-shadow: none;
}


/*---detail-doctors--------*/
h3.title-info{
  padding-bottom: 15px;
  position: relative;
  font-weight: bold;
  margin-bottom: 25px;
}

h3.title-info:before{
  content: '';
  width: 50px;
  height: 2px;
  background-color: #ff0000;
  position: absolute;
  left: 0;
  bottom: 0;
}

h3.detail-name{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #00c7fe;
    font-weight: bold;
    color: #fff;
    background: #00c7fe;
    padding: 40px;
    text-align: center;
}
ul.ldi{
  margin-bottom: 40px;
}
ul.ldi li{
  margin-bottom: 15px;
  display: block;
  color: #333;
  font-weight: bold;
}
 
.detail-block .text-wrap{
  box-shadow: 1px -1px 20px -15px rgba(0,0,0,0.5);
  padding: 10px;
}

.wrap-login-form.login-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.wrap-login-form.login-page h2{
  margin-bottom: 10%;
}

.login .banner-with-back{
  height: 50vh;
}
/*-------member---------*/
.list-profile .image-col{
    max-width: 150px;
    border-radius: 150px;
    height: 145px;
    object-fit: cover;
}

.wrap-profile{
  max-width: 70%;
  margin: auto;
}

.list-profile .text-col label{
  font-weight: bold;
  margin-right: 15px;
  min-width: 120px;
}
.member-profile{
  padding: 20px;
  box-shadow: 3px 5px 23px -16px rgba(0,0,0,0.5);
  border-left: 4px solid #00c7fe;
}
.profile-desc{
  margin-bottom: 10px;
  font-family: Source Sans Pro;
  font-size: 16px;
}

.login-page form{
  padding: 40px;
  background-color: #eee;
}
.wrap-login-form{
  background: #00c7fe;
}



@media(min-width: 992px){
 .header nav ul li a{
	padding: 40px 10px;
    display: inline-block;
   /* text-transform: uppercase;*/
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }


  .form-wrap{
    max-width: 50%;
    margin: auto;

  }

header nav ul li{
	margin-right: 20px;
 }

 .header.fixed nav ul li a {
    padding: 20px 10px;
    font-size: 16px;
    color: #333;
}
.header .logo-wrap a img{
	transition: all 0.3s ease-in-out;
	/*width: 20%;*/
}
.header.fixed .logo-wrap a img{
	width: 70%;
}

.header.fixed nav ul li a:after {
    bottom: 15px;
    height: 1px;
  }

  .hero-slider h1 strong{
    font-size: 50px;
  }

  .app-block{
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }

}


@media(max-width: 991px){
	span.logo-wrap {
    line-height: 50px !important;
    top: -54px;
  }
  .header{
  	position: fixed;
  	top: 0;
  	width: 100%;
  	z-index: 9;
  }

  .header nav ul li a{
  	padding-left: 0;
  	padding-right: 0;
}

.mean-container a.meanmenu-reveal{
   right: 3% !important;
  }
.header nav ul li a:hover:after {
    display: none;
  }

  .logo-wrap a img{
  	width: 35%;
  }

  nav.mean-nav .container-fluid{
  	padding-left: 0;
  	padding-right: 0;
  }

  .header.fixed.mean-container .mean-bar{
  	position: fixed;
  }
  .header.fixed.mean-container .mean-nav{
  	background-color: #0c1923;
  }
  .mean-container .mean-nav ul.menu{
  	max-height: 370px;
  	overflow-y: scroll;
  }

  span.hero-sub-title{
  	    width: 70%;
  		margin-bottom: 2%;
  }

  .banner-caption h1{
  	font-size: 22px;
  }
  .banner-caption{
  	top: 22%;

  }

  span.wrap-banner-btn{
  	max-width: 400px;
  	margin: auto;
  }

  a.btn-banner{
  	margin-bottom: 15px;
  	min-width: 160px;
  	font-size: 14px;
  }

  .wrap-social-media ul li{
  	margin-right: 10px;
  }

  span.hero-sub-title{
  	font-size: 14px;
  	line-height: 20px;
  }

  .wrap-bc{
  	 padding: 20px;
  }
  .header.mean-container .mean-bar{
  	background: #fff !important;
  }

  .header.mean-container .mean-nav{
  	background: #fff !important;
  }
  .header.mean-container .mean-nav ul li a{
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.2);
    font-size: 14px;
    font-weight: bold;
    text-transform: none;
  }
  .mean-container a.meanmenu-reveal{
    color: #333;
  }
  .mean-container a.meanmenu-reveal span{
    background: #333;
  }

  .mean-container .mean-nav ul li a.mean-expand:hover{
    background: rgba(0,0,0,0.5);
    color: #fff;
  }


  a.btn-banner{
    padding: 10px 20px;
  }

}

@media(min-width: 768px) and (max-width: 991px){
  .wrap-bc {
    margin-top: 7%;
  }

  .sec-about .icon{
    display: block;
    width: 100%;
    text-align: left;
  }
  .text{
    overflow: visible;
  }

  .image-col{
    width: 100%;
  }
  .text-col{
    overflow: visible;
    padding-top: 15px;
    display: inline-block;
  }
}


@media(max-width: 767px){
	.mean-container .mean-bar{
    min-height: 80px;
  }
  .logo-wrap a{
    left: 48%;
    top: -22px;
  }
  .logo-wrap a img {
    width: 66%;
}
.mean-container a.meanmenu-reveal{
 top: 20px;
  }

  .mean-container .mean-nav{
    margin-top: 80px;
  }

  .wrap-cr-text{
    display: block;
    text-align: center;
  }
}

@media(max-width: 575px){
  .image-col{
    width: 100%;
    margin-right: 0;
  }
}

@media(max-width: 480px){
  .wrap-bc{
    margin-top: 40%;
  }
  .text-col {
    overflow: initial;
    padding-top: 20px;
    display: inline-block;
}
}